body {
  /* background-image: url("../images/background.jpg"); */
  background-color: #050505;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  text-transform: uppercase;
  }
  
  .main-container {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 8.5rem;
  }
  
  h1,
  h3,
  p {
    margin-bottom: 1.25rem;
    color: #aaabbb;
    font-weight: 650;
  }

  h1 {
    padding-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 3.1rem;
    border-bottom: .2rem solid #555555;
  }

  h3 {
    font-size: 1.25rem;
  }
  
  /* navbar */
  
  nav {
    background-color: #bebebe;
    border-bottom: .2rem solid #272727;
    margin-bottom: 3rem;
  }
  
  /* footer */
  
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2rem 0;
    clear: both;
    font-size: .75rem;
    color: #808080;
    text-align: center;
    border-top: .2rem solid #adadad;
    height: 3rem;
  }